.navbar-custom {
    background-color: #343a40; /* nền xám đậm */
}

.navbar-custom .nav-link,
.navbar-custom .navbar-brand,
.navbar-custom .dropdown-toggle {
    color: white !important;
}

.navbar-custom .nav-link:hover,
.navbar-custom .dropdown-item:hover {
    background-color: rgb(34, 45, 54);
    color: #ffc107;
}

.navbar-custom .dropdown-menu {
    background-color: #343a40;
    border: none;
}

.navbar-custom .dropdown-item {
    color: white;
}
